<script type="text/javascript" charset="utf-8" src="/client/js/Core/namespace.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/namespace.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/sc_keynodes.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/utils.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/sc_helper.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/stringview.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/cache.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/sctp.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/fqueue.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/binary.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/triples.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Utils/logUtils.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/debug.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/main.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/server.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/arguments.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/componentsandbox.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/translation.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/componentmanger.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Core/eventmanager.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/core.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/menu.js"></script>
<script type="text/javascript" charset="utf-8" src="client/js/Ui/ContextSwitcher.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/eekbPanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/langpanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/locker.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/searchpanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/KeyboardHandler.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/taskpanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/argumentspanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/windowmanager.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/OpenComponentHandler.js"></script>
<script type="text/javascript" charset="utf-8" src="/client/js/Ui/userpanel.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/file-saver/FileSaver.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />
<link rel="stylesheet" type="text/css" href="/client/css/core.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />