#window-container {
    position: relative;
}

#menu_container_eekb {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

#menu_container_eekb #tree-view {
    overflow-y: auto;
}

.list-group-item>span.icon.node-icon.no_children {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url(/static/components/images/menu-atom.png);
}

#window-header-tools {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
}